/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 21, 2025, 8:04:57 AM
    Author     : admin
*/
.Main{
    -fx-background-color: lightblue;
    -fx-alignment: CENTER;
    -fx-spacing: 10;
    -fx-padding: 10;
}

.Subject{
    -fx-font-size: 40;
    -fx-fill: red;
    -fx-stroke: gold;
    -fx-stroke-width: 3;
    -fx-font-weight: bold;
}

.Button{
    -fx-background-color: darkblue;
    -fx-font-size: 16;
    -fx-text-fill: white;
    -fx-pref-width: 200;
}

.Input {
    -fx-pref-width: 200;
    -fx-padding: 5;
}

.Correct {
    -fx-text-fill: Green;
}

.Incorrect {
    -fx-text-fill: red;
}